{% extends 'layouts/base-admin.html.twig' %}
{% block title %}Adicionar Pet{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><span><a href="{{ path('app_admin') }}">Dashboard</a></span></li>
    <li class="breadcrumb-item"><span><a href="{{ path('app_pets') }}">Pets</a></span></li>
    <li class="breadcrumb-item active"><span>Adicionar pet</span></li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col">
                            <div class="card-title fs-4 fs-semibold">Adicionar um novo pet</div>
                        </div>
                    </div>
                    {{ form_start(form) }}
                        <div class="row mt-3">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ form_widget(form.name, { 'attr': { 'class': 'form-control', 'placeholder': 'name' } }) }}
                                    {{ form_label(form.name) }}
                                    <div class="form-error text-danger mt-1">
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ form_widget(form.specie, { 'attr': { 'class': 'form-control', 'placeholder': 'specie' } }) }}
                                    {{ form_label(form.specie) }}
                                    <div class="form-error text-danger mt-1">
                                        {{ form_errors(form.specie) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ form_widget(form.dateOfBirth, { 'attr': { 'class': 'form-control', 'placeholder': 'dateOfBirth' } }) }}
                                    {{ form_label(form.dateOfBirth) }}
                                    <div class="form-error text-danger mt-1">
                                        {{ form_errors(form.dateOfBirth) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ form_widget(form.breed, { 'attr': { 'class': 'form-control', 'placeholder': 'breed' } }) }}
                                    {{ form_label(form.breed) }}
                                    <div class="form-error text-danger mt-1">
                                        {{ form_errors(form.breed) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ form_widget(form.color, { 'attr': { 'class': 'form-control', 'placeholder': 'color' } }) }}
                                    {{ form_label(form.color) }}
                                    <div class="form-error text-danger mt-1">
                                        {{ form_errors(form.color) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ form_widget(form.veterinarians, { 'attr': { 'class': 'form-control', 'placeholder': 'veterinarians' } }) }}
                                    {{ form_label(form.veterinarians) }}
                                    <div class="form-error text-danger mt-1">
                                        {{ form_errors(form.veterinarians) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ form_widget(form.imageFile, { 'attr': { 'class': 'form-control padding-input-type-file', 'placeholder': 'imageFile' } }) }}
                                    {{ form_label(form.imageFile) }}
                                    <div class="form-error text-danger mt-1">
                                        {{ form_errors(form.imageFile) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary me-2" type="submit">Adicionar pet</button>
                        <a href="{{ path('app_pets') }}" class="btn btn-primary">Cancelar</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
