{% extends 'layouts/base-home.html.twig' %}
{% block title %}Redefinir a senha{% endblock %}

{% block body %}
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card-group d-block d-md-flex row">
                    <div class="card col-md-7 p-4 mb-0">
                        <div class="card-body">
                            {{ form_start(form) }}
                                <div class="d-flex align-items-end gap-3 mb-3">
                                    <img class="sidebar-brand-full" src="{{ asset('images/dog-logo.svg') }}" alt="Logo PetApp" width="72">
                                    <h1>Pets<b class="text-warning">Control</b></h1>
                                </div>
                                <p class="text-medium-emphasis">Redefina a senha da sua conta</p>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                                <div class="form-floating mb-3">
                                    {{ form_widget(form.password.first, { 'attr': { 'class': 'form-control', 'placeholder': 'password' } }) }}
                                    {{ form_label(form.password.first) }}
                                    <div class="form-error text-danger mt-1">
                                        {{ form_errors(form.password.first) }}
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    {{ form_widget(form.password.second, { 'attr': { 'class': 'form-control', 'placeholder': 'repeat-password' } }) }}
                                    {{ form_label(form.password.second) }}
                                    <div class="form-error text-danger mt-1">
                                        {{ form_errors(form.password.second) }}
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary px-4">Redefinir senha</button>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
